#chatroom {
    -fx-background-image:url('https://cdna.artstation.com/p/assets/images/images/017/692/926/large/minh-truong-clone64-city-night.jpg?1556987277');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#dropshadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}